header {
  background-color: #1e1e24;
  width: 100%;
  height: 120px;
}
ul {
  list-style: none;
}
body {
  background-color: #444140;
  ;
  margin: 0;
  height: auto;
}

main {
  height: 90vh;
}

.searchbox {
  width: 100%;
  padding: 10px;
  margin: 12px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  font-family: "Lato", sans-serif;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #e02929;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav h3 {
  font-size: 25px;
  padding-left:20px;
}

.sidenav p {
  padding-left: 20px;
  font-size: 18px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #1e1e24;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.parent {
  display: flex;
  
}
.child {
  display: flex;
  flex-direction: column;
  flex: 2;
  border: 1px;
  width: 800px;
  height: 500px;
  border: black solid 3px;
  margin: 15px;
  background-color: coral;
}
.btn {
  width: 90px;
  height: 50px;
  text-align: center;
}

.single-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: auto;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: 0.3s;
  background-color:#CDCDCD;
}
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  height: 50%;
}

.box-area {
  padding: 10px;
}
.searchDiv {
  width: 80%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBtn {
  height: fit-content;
}
footer {
  background-color: #1e1e24;
  width: 100%;
  height: 100px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
}
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
}
